*.pdf
*.jpg
*.png
*.mp4
*.html
!revealjs.html
!bin/assets/
!bin/assets/*.html
!site/*.html
!site/examples/*.html
!site/examples/*.pdf
site/glissade.generated.typ
!web/**/*.html
reveal.js-master/
__pycache__/
.DS_Store
